.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: 90vh;
    width: 40vw;
    border-radius: 1rem;
    animation: zoomIn 0.3s ease-in-out;
	background: linear-gradient(to bottom, rgba(47, 47, 47, 0) 26%, rgba(47, 47, 47, 1) 74%), url('path/to/your/background-image.jpg');
}

.popup-content.zoom-in {
	animation: zoomIn 0.3s ease-in-out;
}

.popup-content.zoom-out {
	animation: zoomOut 0.3s ease-in-out;
}

.popup-logo{
	width: 35vw;
	margin: 0 2.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes zoomIn {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes zoomOut {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.5);
		opacity: 0;
	}
}